<div ng-include="'./components/admin/navbar/navbar.html'"></div>
<!----------------------------Main--------------------------------->
<section class="dashboard" ng-controller="revenusCtrl">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <!-- <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Tìm kiếm ở đây">
        </div> -->

        <div class="info">
            <span>Trần Phi</span>
            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hLNY1fPXF4UAX95CXcf&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT_1e90z3c3a5uVdflraJCcUVuAHFs3HWyb5h2fnfasdsA&oe=6336378A"
                alt="">
        </div>
    </div>

    <div class="dash-content">
        <div class="chart-container">
            <div class="title">Thống kê</div>
            <canvas id="canvas"></canvas>
        </div>
    </div>

</section>