<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolySocial</title>

    <!----===== CSS ===== -->
    <link rel="stylesheet" href="/components/admin/navbar/navbar.css">
    <link rel="stylesheet" href="/views/admin/home/home.css">
    <link rel="stylesheet" href="/views/admin/likes/likes.css">
    <link rel="stylesheet" href="/views/admin/revenus/revenus.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!----===== JS ===== -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.0/angular-route.js"></script>

</head>

<body ng-app="myadmin">

    <div ng-view></div>

    <!----===== JS ===== -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="/style/js/admin.js"></script>

</body>

</html>