<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main>
    <div class="container-profile">
        <div class="profile">
            <div class="title">
                <img src="./assets/images/1.jpg" alt="">
            </div>
            <div class="info">
                <p>Trần Phi</p>
                <span class="text-muted">phitmps16509@fpt.edu.vn</span>
                <br>
                <span class="text-muted">Sinh viên FPT Polytechnic</span>
            </div>
            <div class="link">
                <a href="#!editProfile">Chỉnh sửa</a>
            </div>
        </div>
        <div class="profile-details">
            <div class="title">
                <span>Tài khoản của tôi</span>
            </div>
            <div class="profile-details-body">
                <h6>Thông tin người dùng</h6>
                <div class="profile-details-row">
                    <div class="form-input">
                        <label for="avatar">Ảnh</label>
                        <input type="file" id="avatar" placeholder="Hãy chọn ảnh của bạn.">
                    </div>

                    <div class="form-input">
                        <label for="stCode">Mã số sinh viên</label>
                        <input type="text" id="stCode" placeholder="Hãy nhập mã số sinh viên của bạn." value="PS16509">
                    </div>

                    <div class="form-input">
                        <label for="name">Họ và tên</label>
                        <input type="text" id="name" placeholder="Hãy nhập họ và tên của bạn." value="Trần Mậu Phi">
                    </div>

                    <div class="form-input">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Hãy nhập email của bạn."
                            value="phitmps16509@fpt.edu.vn">
                    </div>
                </div>

                <div class="hr"></div>

                <h6>Thông tin liên lạc</h6>
                <div class="profile-details-row">
                    <div class="form-input">
                        <label for="birthday">Ngày sinh</label>
                        <input type="date" id="birthday" value="2002-04-26">
                    </div>

                    <div class="form-input">
                        <label for="gender">Giới tính</label>
                        <div class="gender">
                            <div>
                                <input type="radio" name="gender" id="gender" value="true">
                                <span class="checkmark">Nam</span>
                            </div>
                            <div>
                                <input type="radio" name="gender" id="gender" value="false">
                                <span class="checkmark">Nữ</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-input">
                        <label for="major">Chuyên ngành</label>
                        <div class="select-box ">
                            <select class="select">
                                <option value="" selected>Hãy chọn chuyên ngành</option>
                                <option value="1">Ứng dụng phần mềm</option>
                                <option value="2">Phát triển phần mềm</option>
                                <option value="3">Thiết kế website</option>
                                <option value="4">Lập trình mobile</option>
                                <option value="5">Thiết kế đồ hoạ</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-input">
                        <label for="address">Địa chỉ</label>
                        <input type="text" id="address" placeholder="Hãy nhập địa chỉ của bạn."
                            value="Quận 12, TP.Hồ Chí Minh">
                    </div>

                    <div class="form-input">
                        <label for="major">Khoá</label>
                        <input type="text" id="major" placeholder="Hãy nhập khoá của bạn." value="16.3">
                    </div>

                    <div class="form-input">
                        <label for="dateCreate">Ngày tạo</label>
                        <input type="date" id="dateCreate" placeholder="Hãy nhập ngày tạo của bạn." value="2022-10-01">
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>