@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color-hue: 13;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);
    --color-orange: hsl(var(--primary-color-hue), 91%, 54%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

body {
    color: var(--color-dark);
    background: var(--color-light);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*================== NAVBAR ==================*/
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo span {
    font-weight: 600;
}

nav .logo img {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1rem;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}

nav .profile-picture {
    display: flex;
    align-items: center;
}

nav .profile-picture span {
    margin-right: 1rem;
    font-weight: 600;
}

nav .profile-picture img {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    overflow: hidden;
}

/*================== MAIN ==================*/
main {
    position: relative;
    top: 5.4rem;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
    height: 600px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 40px 10px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.feedback .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #fb7623;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.feedback .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #fb7623;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    background: #fb7623;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #fb5223;
}

@media (max-width: 950px) {
    .feedback {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .feedback .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .feedback {
        margin: 40px 0;
        height: 100%;
    }

    .feedback .content {
        flex-direction: column-reverse;
    }

    .feedback .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .feedback .content .left-side::before {
        display: none;
    }

    .feedback .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}