<nav ng-include="'/components/navbar/navbar.html'"></nav>

<!------------------------------- Main ---------------------------->
<main>
    <div class="feedback">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="uil uil-map-marker-alt"></i>
                    <div class="topic">Địa chỉ</div>
                    <div class="text-one"> 778/B1 Nguyễn Kiệm, P.4</div>
                    <div class="text-two">Q. Phú Nhuận, TP. Hồ Chí Minh.</div>
                </div>
                <div class="phone details">
                    <i class="uil uil-phone-alt"></i>
                    <div class="topic">Liên hệ</div>
                    <div class="text-one">02873088800</div>
                    <div class="text-two">02873088800</div>
                </div>
                <div class="email details">
                    <i class="uil uil-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">dvsvpoly.hcm@poly.edu.vn</div>
                    <div class="text-two">daotaofpoly.hcm@fe.edu.vn</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Gửi tin nhắn cho chúng tôi</div>
                <p>Nếu bạn có bất kỳ công việc nào từ tôi hoặc bất kỳ loại câu hỏi nào liên quan đến hướng dẫn của
                    tôi,
                    bạn có thể gửi tin nhắn cho tôi
                    từ đây.</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Nhập tên của bạn">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Nhập email của bạn">
                    </div>
                    <div class="input-box message-box">
                        <textarea cols="30" rows="10" placeholder="Nhập lời nhắn của bạn"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Gửi ngay">
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>