<div ng-include="'/components/admin/navbar/navbar.html'"></div>
<!----------------------------Main--------------------------------->
<section class="dashboard" ng-controller="revenusCtrl">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Tìm kiếm ở đây">
        </div>

        <div class="info">
            <span>Trần Phi</span>
            <img src="/assets/images/1.jpg" alt="">
        </div>
    </div>

    <div class="dash-content">
        <div class="chart-container">
            <div class="title">Thống kê</div>
            <canvas id="canvas"></canvas>
        </div>
    </div>

</section>