<div ng-include="'./navbar/navbar.html'"></div>
<!----------------------------Main--------------------------------->
<section class="dashboard" ng-controller="likesCtrl">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Tìm kiếm ở đây">
        </div>

        <div class="info">
            <span>Trần Phi</span>
            <img src="/assets/images/1.jpg" alt="">
        </div>
    </div>

    <div class="dash-content">
        <div class="title-1">Thống kê lượt yêu thích</div>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Họ và tên</th>
                    <th>Trạng thái</th>
                    <th>Bài viết</th>
                    <th>Ngày yêu thích</th>
                </tr>
            </thead>
            <tbody class="body">
                <tr class="active-row">
                    <td>PS16509</td>
                    <td>Trần Mậu Phi</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16501</td>
                    <td>Phan Nguyễn Đăng Trường</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16445</td>
                    <td>Đặng Hoàng DUy</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS14579</td>
                    <td>Nguyễn Nhật Cao Thăng</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16500</td>
                    <td>Võ Thanh Nhã</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16590</td>
                    <td>Lê Duy Tiến</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16501</td>
                    <td>Phan Nguyễn Đăng Trường</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16445</td>
                    <td>Đặng Hoàng DUy</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS14579</td>
                    <td>Nguyễn Nhật Cao Thăng</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16500</td>
                    <td>Võ Thanh Nhã</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16590</td>
                    <td>Lê Duy Tiến</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>