.dash-content .title-1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-color);
}

.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 85%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--orange-color);
    color: var(--title-icon-color);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    font-weight: bold;
    color: var(--text-color);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: black;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange-color);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #f1550e;
}