<div ng-include="'./components/admin/navbar/navbar.html'"></div>
<!----------------------------Main--------------------------------->
<section class="dashboard" ng-controller="likesCtrl">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <!-- <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Tìm kiếm ở đây">
        </div> -->

        <div class="info">
            <span>Trần Phi</span>
            <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                alt="">
        </div>
    </div>

    <div class="dash-content">
        <div class="title-1">
            <span><i class="uil uil-tachometer-fast-alt"></i> Thống kê lượt yêu thích</span>
        </div>

        <form action="#">
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Tìm kiếm ở đây">
            </div>
            <div class="select-box">
                <select class="select">
                    <option value="" selected>Lọc theo</option>
                    <option value="1">Họ và tên</option>
                    <option value="2">Email</option>
                    <option value="3">Bài yêu thích</option>
                </select>
            </div>
        </form>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Họ và tên</th>
                    <th>Trạng thái</th>
                    <th>Bài viết</th>
                    <th>Ngày yêu thích</th>
                </tr>
            </thead>
            <tbody class="body">
                <tr class="active-row">
                    <td>PS16509</td>
                    <td>Trần Mậu Phi</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16501</td>
                    <td>Phan Nguyễn Đăng Trường</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16445</td>
                    <td>Đặng Hoàng DUy</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS14579</td>
                    <td>Nguyễn Nhật Cao Thăng</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16500</td>
                    <td>Võ Thanh Nhã</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16590</td>
                    <td>Lê Duy Tiến</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16501</td>
                    <td>Phan Nguyễn Đăng Trường</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16445</td>
                    <td>Đặng Hoàng DUy</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS14579</td>
                    <td>Nguyễn Nhật Cao Thăng</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16500</td>
                    <td>Võ Thanh Nhã</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16590</td>
                    <td>Lê Duy Tiến</td>
                    <td>Đã yêu thích</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>