<div ng-include="'./components/admin/navbar/navbar.html'"></div>
<!----------------------------Main--------------------------------->
<section class="dashboard" ng-controller="likesCtrl">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <!-- <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Tìm kiếm ở đây">
        </div> -->

        <div class="info">
            <span>Trần Phi</span>
            <img src="./assets/images/1.jpg" alt="">
        </div>
    </div>

    <div class="dash-content">
        <div class="title-1">
            <span><i class="uil uil-tachometer-fast-alt"></i> Thống kê nhóm đã tạo</span>
            <a href="#!create"><i class="uil uil-plus"></i> Tạo nhóm</a>
        </div>

        <form action="#">
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Tìm kiếm ở đây">
            </div>
            <div class="select-box">
                <select class="select">
                    <option value="" selected>Lọc theo</option>
                    <option value="1">Họ và tên</option>
                    <option value="2">Email</option>
                    <option value="3">Tên nhóm</option>
                </select>
            </div>
        </form>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Họ và tên</th>
                    <th>Trạng thái</th>
                    <th>Tên nhóm</th>
                    <th>Ngày tạo</th>
                </tr>
            </thead>
            <tbody class="body">
                <tr class="active-row">
                    <td>PS16509</td>
                    <td>Trần Mậu Phi</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16501</td>
                    <td>Phan Nguyễn Đăng Trường</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16445</td>
                    <td>Đặng Hoàng DUy</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS14579</td>
                    <td>Nguyễn Nhật Cao Thăng</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16500</td>
                    <td>Võ Thanh Nhã</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16590</td>
                    <td>Lê Duy Tiến</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16501</td>
                    <td>Phan Nguyễn Đăng Trường</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16445</td>
                    <td>Đặng Hoàng DUy</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS14579</td>
                    <td>Nguyễn Nhật Cao Thăng</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16500</td>
                    <td>Võ Thanh Nhã</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
                <tr>
                    <td>PS16590</td>
                    <td>Lê Duy Tiến</td>
                    <td>Mới tạo</td>
                    <td>BV001</td>
                    <td>23/09/2022</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>