<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main class="exercises">
    <div class="container-exercises">
        <div class="banner">
            <img src="https://www.gstatic.com/classroom/themes/img_bookclub.jpg" alt="" class="img-1">
            <div class="banner-text">
                <h1>SYB.IT16307_3.B2</h1>
                <p>Đây là lớp thực hành của các bạn.</p>
            </div>
            <div class="exercise">
                <div class="left">
                    <div class="intro">
                        <h3>Giới thiệu</h3>
                        <p>Chào mừng các bạn đã đến với lớp học.</p>
                    </div>

                    <div class="intro">
                        <h3>Hướng dẫn</h3>
                        <p>Bước 1: Nhấp vào các bài tập bên phía tay phải.</p>
                        <p>Bước 2: Chọn tệp muốn nộp.</p>
                        <p>Bước 3: Nhấp tải tệp.</p>
                    </div>
                    <form action="#!deadlines">
                        <button type="submit">Thoát ra</button>
                    </form>
                </div>
                <div class="right">
                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 1</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 2</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 3</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 4</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 5</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 6</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 7</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>

                    <a href="#!exerciseDetails" class="profile">
                        <div class="profile-photo-1">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 8</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>