<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main class="exercises">
    <div class="container-exercises">
        <div class="banner">
            <img src="https://www.gstatic.com/classroom/themes/img_bookclub.jpg" alt="" class="img-1">
            <div class="banner-text">
                <h1>SYB.IT16307_3.B2</h1>
                <p>Đây là lớp thực hành của các bạn.</p>
            </div>
            <div class="exercise">
                <div class="left">
                    <div class="intro">
                        <h3>Giới thiệu</h3>
                        <p>Chào mừng các bạn đã đến với lớp học.</p>
                    </div>

                    <div class="intro">
                        <h3>Hướng dẫn</h3>
                        <p>Bước 1: Nhấp vào các bài tập bên phía tay phải.</p>
                        <p>Bước 2: Chọn tệp muốn nộp.</p>
                        <p>Bước 3: Nhấp tải tệp.</p>
                    </div>
                    <form action="#!exercises">
                        <button type="submit">Quay lại</button>
                    </form>
                </div>
                <div class="right">
                    <div class="profile">
                        <div class="profile-photo-1">
                            <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=hLNY1fPXF4UAX95CXcf&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT_1e90z3c3a5uVdflraJCcUVuAHFs3HWyb5h2fnfasdsA&oe=6336378A"
                                alt="">
                        </div>
                        <div class="handle">
                            <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 1</span></h4>
                            <p class="text-muted">28/09/2022</p>
                        </div>

                        <div class="wrapper">
                            <span>Chưa nộp</span>
                            <div class="file-upload">
                                <input type="file" />
                                <i class="uil uil-arrow-up"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>