<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main class="pages" ng-controller="pageCtrl">
    <div class="container-page">
        <div class="left">
            <div class="background">
                <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
            </div>
            <div class="title">
                <span>SYB.IT16307_3.B2.2022</span>
                <p class="text-muted"><i class="uil uil-lock"></i> Nhóm riêng tư - <i>31 thành viên</i></p>
            </div>
            <div class="join">
                <button><i class="uil uil-user-check"></i> Đã tham gia</button>
                <button><i class="uil uil-plus"></i> Mời </button>
                <button><i class="uil uil-ellipsis-h"></i> </button>
            </div>
            <!------------------------------- Side bar ---------------------------->
            <div class="sidebar">
                <a href="#!pageDetails" class="menu-item active">
                    <span><i class='uil uil-home'></i></span>
                    <h3>Trang chủ</h3>
                </a>
                <a href="#!pagePeoples" class="menu-item">
                    <span><i class="uil uil-users-alt"></i></span>
                    <h3>Thành viên</h3>
                </a>
                <a href="#!feedback" class="menu-item">
                    <span><i class="uil uil-feedback"></i></span>
                    <h3>Phản hồi</h3>
                </a>
                <a href="#!quizs" class="menu-item">
                    <span><i class="uil uil-file-upload"></i></span>
                    <h3>Bài tập (Quiz)</h3>
                </a>
                <a href="#!page" class="menu-item">
                    <span><i class='uil uil-signout'></i></span>
                    <h3>Rời nhóm</h3>
                </a>
            </div>
        </div>
        <div class="middle">

        </div>
    </div>
</main>