<div ng-include="'./components/teacher/navbar/navbar.html'"></div>
<!----------------------------Main--------------------------------->
<section class="dashboard" ng-controller="teacherCtrl">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Tìm kiếm ở đây">
        </div>

        <div class="info">
            <span>Trần Phi</span>
            <img src="./assets/images/1.jpg" alt="">
        </div>
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Trang chủ</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">Tổng lượt thích</span>
                    <span class="number">50,120</span>
                </div>
                <div class="box box2">
                    <i class="uil uil-comments"></i>
                    <span class="text">Tổng lượt bình luận</span>
                    <span class="number">20,120</span>
                </div>
                <div class="box box3">
                    <i class="uil uil-share"></i>
                    <span class="text">Tổng lượt chia sẻ</span>
                    <span class="number">10,120</span>
                </div>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">Lịch sử hoạt động</span>
            </div>

            <div class="activity-data">
                <div class="data names">
                    <span class="data-title">Họ và tên</span>
                    <span class="data-list">Trần Phi</span>
                    <span class="data-list">Đăng Trường</span>
                    <span class="data-list">Cao Thăng</span>
                    <span class="data-list">Hoàng Duy</span>
                </div>
                <div class="data email">
                    <span class="data-title">Email</span>
                    <span class="data-list">phitmps16509@fpt.edu.vn</span>
                    <span class="data-list">truongpndps16501@fpt.edu.vn</span>
                    <span class="data-list">thangnncps14579@fpt.edu.vn</span>
                    <span class="data-list">duyhdps16445@fpt.edu.vn</span>
                </div>
                <div class="data joined">
                    <span class="data-title">Ngày tham gia</span>
                    <span class="data-list">2022-02-12</span>
                    <span class="data-list">2022-02-12</span>
                    <span class="data-list">2022-02-13</span>
                    <span class="data-list">2022-02-13</span>
                </div>
                <div class="data type">
                    <span class="data-title">Loại</span>
                    <span class="data-list">New</span>
                    <span class="data-list">Member</span>
                    <span class="data-list">Member</span>
                    <span class="data-list">New</span>
                </div>
                <div class="data status">
                    <span class="data-title">Thông báo</span>
                    <span class="data-list">Liked</span>
                    <span class="data-list">Liked</span>
                    <span class="data-list">Liked</span>
                    <span class="data-list">Liked</span>
                </div>
            </div>
        </div>
    </div>
</section>