@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color-hue: 13;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);
    --color-orange: hsl(var(--primary-color-hue), 91%, 54%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

body {
    color: var(--color-dark);
    background: var(--color-light);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    font-size: small;
    color: var(--color-gray);
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*================== NAVBAR ==================*/
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 1px 3px var(--color-gray);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

nav .logo span {
    font-weight: 600;
}

nav .logo img {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 1rem;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}

nav .profile-picture {
    display: flex;
    align-items: center;
}

nav .profile-picture span {
    margin-right: 1rem;
    font-weight: 600;
}

nav .profile-picture img {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    overflow: hidden;
}