<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main class="pages">
    <div class="container-page">
        <div class="left">
            <div class="background">
                <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
            </div>
            <div class="title">
                <span>SYB.IT16307_3.B2.2022</span>
                <p class="text-muted"><i class="uil uil-lock"></i> Nhóm riêng tư - <i>31 thành viên</i></p>
            </div>
            <div class="join">
                <button><i class="uil uil-user-check"></i> Đã tham gia</button>
                <button><i class="uil uil-plus"></i> Mời </button>
                <button><i class="uil uil-ellipsis-h"></i> </button>
            </div>
            <!------------------------------- Side bar ---------------------------->
            <div class="sidebar">
                <a href="#!pageDetails" class="menu-item active">
                    <span><i class='uil uil-home'></i></span>
                    <h3>Trang chủ</h3>
                </a>
                <a href="#!pagePeoples" class="menu-item">
                    <span><i class="uil uil-users-alt"></i></span>
                    <h3>Thành viên</h3>
                </a>
                <a href="#!feedback" class="menu-item">
                    <span><i class="uil uil-feedback"></i></span>
                    <h3>Phản hồi</h3>
                </a>
                <a href="#!pageQuizs" class="menu-item">
                    <span><i class="uil uil-file-upload"></i></span>
                    <h3>Bài tập (Quiz)</h3>
                </a>
                <a href="#!page" class="menu-item">
                    <span><i class='uil uil-signout'></i></span>
                    <h3>Rời nhóm</h3>
                </a>
            </div>
        </div>
        <div class="middle">
            <div class="exercise">
                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 1</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>

                    <div class="wrapper">
                        <span class="check-quiz">
                            <p>0</p> Chưa nộp
                        </span>
                        <span class="check-quiz">
                            <p>10</p> Đã nộp
                        </span>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 2</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 3</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 4</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 5</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 6</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 7</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>

                <a href="#!pageQuizsDetails" class="profile">
                    <div class="profile-photo-1">
                        <img src="./assets/images/1.jpg" alt="">
                    </div>
                    <div class="handle">
                        <h4>Trần Phi<span> đã tạo mới một bài tập: Lab 8</span></h4>
                        <p class="text-muted">28/09/2022</p>
                    </div>
                </a>
            </div>
        </div>
        <!------------------------------- End Middle ---------------------------->
        <div class="right">
            <div class="about">
                <div class="intro">
                    <h3>Giới thiệu</h3>
                    <p>Chào mừng các bạn đã đến với lớp học.</p>
                </div>

                <div class="intro">
                    <h3>Hướng dẫn</h3>
                    <p>Bước 1: Nhấp vào các bài tập bên phía tay phải.</p>
                    <p>Bước 2: Chọn tệp muốn nộp.</p>
                    <p>Bước 3: Nhấp tải tệp.</p>
                </div>

                <button>Tìm hiểu thêm</button>
            </div>
            <div class="create-quiz">
                <a id="createQuiz"><i class="uil uil-plus"></i> Tạo bài tập (Quiz)</a>
            </div>
        </div>
    </div>
</main>

<div class="modal-create-quiz">
    <div class="cart-create">
        <form class="form-create">
            <h3>Tạo bài tập (Quiz)</h3>

            <div class="form-input">
                <label for="content">Nội dung</label>
                <input type="text" id="content" placeholder="Hãy nhập nội dung" value="Lab 1">
            </div>

            <div class="form-input">
                <label for="deline">Hạn nộp</label>
                <input type="date" id="deline" value="2022-10-19">
            </div>

            <button><i class="uil uil-plus"></i> Tạo</button>
        </form>
    </div>
</div>