<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main class="pages" ng-controller="pageCtrl">
    <div class="container-page">
        <div class="left">
            <div class="page-search">
                <h3>Nhóm</h3>
                <div class="search">
                    <input type="text" placeholder="Tìm kiếm nhóm">
                    <button><i class="uil uil-search"></i></button>
                </div>
                <hr>
                <div class="page-join">
                    <h4>Nhóm bạn đã tham gia</h4>
                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="middle">
            <!------------------------------- Feeds ---------------------------->
            <div class="feeds">
                <h4 class="text-bold">Hoạt động gần đây</h4>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                    alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/293339640_1205671573501176_1658504986932176478_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=-z63eCvbXscAX_RUBlO&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT9usm4LY_VctxHmjqe6anWTolM5vIsaIk7cYRaGtaoEqg&oe=633778ED"
                            alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>

                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                    alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/293339640_1205671573501176_1658504986932176478_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=-z63eCvbXscAX_RUBlO&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT9usm4LY_VctxHmjqe6anWTolM5vIsaIk7cYRaGtaoEqg&oe=633778ED"
                            alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>

                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                    alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/293339640_1205671573501176_1658504986932176478_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=-z63eCvbXscAX_RUBlO&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT9usm4LY_VctxHmjqe6anWTolM5vIsaIk7cYRaGtaoEqg&oe=633778ED"
                            alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>

                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                    alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/293339640_1205671573501176_1658504986932176478_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=-z63eCvbXscAX_RUBlO&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT9usm4LY_VctxHmjqe6anWTolM5vIsaIk7cYRaGtaoEqg&oe=633778ED"
                            alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>
                        <span><img
                                src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/301707708_1234437030624630_612522317553963859_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SvS_-FkuD3MAX88uwY8&tn=7UvbteFf5nhM_Hcw&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT_G6wR5SKd7xiX0f6IyKSbLh7_3Tw7ewTHJlIN-knIUUQ&oe=6346098A"
                                alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>
            </div>
            <!------------------------------- End Feeds ---------------------------->
        </div>
        <!------------------------------- End Middle ---------------------------->
    </div>
</main>