<nav ng-include="'./components/navbar/navbar.html'"></nav>
<!------------------------------- Main ---------------------------->
<main class="pages">
    <div class="container-page">
        <div class="left">
            <div class="page-search">
                <h3>Nhóm</h3>
                <div class="search">
                    <input type="text" placeholder="Tìm kiếm nhóm">
                    <button><i class="uil uil-search"></i></button>
                </div>
                <hr>
                <div class="page-join">
                    <h4>Nhóm bạn đã tham gia</h4>
                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>

                    <a href="#!pageDetails" class="page">
                        <div class="page-photo">
                            <img src="https://www.facebook.com/images/groups/groups-default-cover-photo-2x.png" alt="">
                        </div>
                        <div class="handle">
                            <h4>SYB.IT16307_3.B2.2022</h4>
                            <p class="text-muted">Lần hoạt động gần nhất: 1 tháng trước</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="middle">
            <!------------------------------- Feeds ---------------------------->
            <div class="feeds">
                <h4 class="text-bold">Hoạt động gần đây</h4>
                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./assets/images/1.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./assets/images/post.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>

                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./assets/images/1.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./assets/images/post.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>

                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./assets/images/1.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./assets/images/post.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>

                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="./assets/images/1.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Trần Phi</h3>
                                <small> FPT Polytechnic, 15 phút trước </small>
                            </div>
                        </div>
                        <span class="edit">
                            <i class="uil uil-ellipsis-h"></i>
                        </span>
                    </div>

                    <div class="photo">
                        <img src="./assets/images/post.jpg" alt="">
                    </div>

                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span>
                                <i class="uil uil-heart"></i>
                                <i class="uil uil-comment-notes"></i>
                                <i class="uil uil-share-alt"></i>
                            </span>
                        </div>
                        <div class="bookmark">
                            <span>
                                <i class="uil uil-bookmark-full"></i>
                            </span>
                        </div>
                    </div>

                    <div class="liked-by">
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>
                        <span><img src="./assets/images/1.jpg" alt=""></span>

                        <p>Được thích bởi <b>Trần Phi</b> và <b> 4 người khác</b> </p>
                    </div>

                    <div class="caption">
                        <p><b>Trần Phi</b> Gia đình Coder Poly. <span>#Fpoly</span></p>
                    </div>

                    <div class="comments text-muted">Xem tất cả các bình luận</div>
                </div>
            </div>
            <!------------------------------- End Feeds ---------------------------->
        </div>
        <!------------------------------- End Middle ---------------------------->
    </div>
</main>